<head>
  <meta charset="utf-8">
  {{/* <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> */}}
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{{ if .IsHome }}{{ .Title }}{{ else }}{{ .Page.Title }} | {{ .Site.Title }}{{ end }}</title>
  <meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}" />
  <meta property="og:type" {{ if .Page.IsHome }} content="website" {{ else }} content="article" {{ end }} />
  <meta property="og:title" content="{{ .Page.Title }}"/>
  <meta property="og:description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}" />
   <meta property="og:site_name" content="{{ .Site.Title }}"/>
   <meta property="og:url" content="{{ .Page.Permalink }}"/>
   <meta property="og:locale" content="{{ .Site.Language.Lang }}">
  <meta property="article:published_time" content="{{ .Page.PublishDate }}" />
   <meta property="article:modified_time" content="{{ .Page.Lastmod }}" />
{{ if .Page.Params.featured_image }}
<meta property="og:image" content="{{ .Page.Permalink }}{{ .Page.Params.featured_image  }}"/>
<meta property="og:image:secure_url" content="{{ .Page.Permalink }}{{ .Page.Params.featured_image  }}"/>
{{ end }}
{{ if .Page.Params.images }}
  {{ $permalink := .Page.Permalink }}
  {{ range .Page.Params.images }}
  {{ $img := . }}
  <meta property="og:image" content="{{- $permalink -}}{{- $img -}}"/>
  {{ end }}
{{ end }}
  {{ template "_internal/schema.html" . }}
  {{ template "_internal/twitter_cards.html" . }}
  {{/* {{ template "_internal/google_analytics_async.html" . }} */}}
  {{ `<!--[if IE]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->` | safeHTML }}
  {{/*<link rel="shortcut icon" href="{{ .Site.Params.favicon }}" type="image/x-icon"> */}}
  {{/*<link rel="icon" href="{{ .Site.Params.favicon }}" type="image/x-icon"> */}}
  <link rel="icon" href="/favicon.ico" sizes="any"><!-- 32×32 -->
  <link rel="icon" href="/icon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png"><!-- 180×180 -->
  {{/* <link rel="manifest" href="/manifest.webmanifest"> */}}
  {{ range .AlternativeOutputFormats }}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
  {{ end }}
  {{/*  {{ $styles := resources.Get "scaffold.scss" | resources.ExecuteAsTemplate "style.main.scss" . | toCSS | minify | fingerprint }}  */}}
  {{ $styles := resources.Get "scaffold.scss" | resources.ExecuteAsTemplate "style.main.scss" . | toCSS | minify }}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lunr.js/2.3.9/lunr.min.js" integrity="sha512-4xUl/d6D6THrAnXAwGajXkoWaeMNwEKK4iNfq5DotEbLPAfk6FSxSP3ydNxqDgCw1c/0Z1Jg6L8h2j+++9BZmg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js" integrity="sha512-egJ/Y+22P9NQ9aIyVCh0VCOsfydyn8eNmqBy+y2CnJG+fpRIxXMS6jbWP8tVKp0jp+NO5n8WtMUAnNnGoJKi4w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  {{- if not .Site.IsServer }}
        {{ partial "google-analytics.html" . }}
      {{- end }}
  <link rel="stylesheet" href="{{ $styles.RelPermalink }}" integrity="{{ $styles.Data.Integrity }}" media="screen">
</head>
